
body{
background-image: url("../assets/triangles.png");
background-repeat: no-repeat;
background-size: cover;
}
h2{
  text-align: center;
}
.triangleTracker{
  margin-top: 10%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 20px;

}
input{
  margin-bottom: 10px;
}
